/* p {
} */

/* img {
  width: 100%;
} */

.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 200, 255, 0.8);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

.main {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 170px);
}

.pal {
    display: flex;
    gap: 20px;
}

.input {
    /* outline: none; */
    background-color: transparent;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 200, 0.8);
  padding: 1rem 5px;
  font-size: 1.6rem;
}

.btn {
  width: 25%;
  font-size: 1.25rem;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 28px;
  color: white;
  background: blue;
}

.result {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
